/* prettier-ignore */
@keyframes flicker {
   /* Quake flicker */
  0%   { opacity: var(--flicker-max); }
  4%   { opacity: var(--flicker-max); }
  8%   { opacity: var(--flicker-min); }
  12%  { opacity: var(--flicker-max); }
  16%  { opacity: var(--flicker-min); }
  20%  { opacity: var(--flicker-max); }
  24%  { opacity: var(--flicker-max); }
  28%  { opacity: var(--flicker-max); }
  32%  { opacity: var(--flicker-max); }
  36%  { opacity: var(--flicker-min); }
  40%  { opacity: var(--flicker-max); }
  44%  { opacity: var(--flicker-max); }
  48%  { opacity: var(--flicker-min); }
  52%  { opacity: var(--flicker-max); }
  56%  { opacity: var(--flicker-min); }
  60%  { opacity: var(--flicker-max); }
  64%  { opacity: var(--flicker-min); }
  68%  { opacity: var(--flicker-min); }
  72%  { opacity: var(--flicker-min); }
  76%  { opacity: var(--flicker-max); }
  80%  { opacity: var(--flicker-min); }
  84%  { opacity: var(--flicker-max); }
  88%  { opacity: var(--flicker-max); }
  92%  { opacity: var(--flicker-max); }
  96%  { opacity: var(--flicker-min); }
  100% { opacity: var(--flicker-max); }
}

@keyframes slide {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: 6px;
  }
}
